<h1>Wumpus</h1>

<div data-ng-if="state==='config'" data-ng-include="'partials/wumpus/config.html'"></div>
<div data-ng-if="state==='instance'" data-wumpus-instance></div>

<table class="table">
    <tr data-ng-repeat="sg in contexts">
        <td>
            <span title="Remove" data-ng-click="removeContext(sg)" class="text-danger glyphicon glyphicon-remove"></span>
            <br>
            <button class="btn btn-xs"
                    data-ng-disabled="sg.diff"
                    data-ng-click="selectSubgraph(sg)"
                    data-ng-class="{'btn-default':!sg.selected, 'btn-primary':sg.selected}">
                {{selectSubgraphText(sg)}}
            </button>
        </td>
        <td data-render-subgraph="sg"></td>
    </tr>
</table>
