<h2>Configuration</h2>

<form class="form-horizontal" role="form">
<div class="panel panel-default">
    <div class="panel-heading"><h3>Environment</h3></div>
    <div class="panel-body" data-ng-show="true">

        <div class="form-group">
            <label class="col-sm-2 control-label">Chance</label>

            <div class="col-sm-3 radio form-control-static">
                <label><input type="radio" value="deterministic" data-ng-model="config.game.chance">Deterministic</label>
                <label><input type="radio" value="stochastic" data-ng-model="config.game.chance">Stochastic</label>
            </div>
            <div class="col-sm-7 form-control-static">
                does my wheel slip because the dirt isn't solid (ice physics)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Grain</label>

            <div class="col-sm-3 radio form-control-static">
                <label><input type="radio" value="discrete" data-ng-model="config.game.grain">Discrete</label>
                <label><input type="radio" value="continuous" data-ng-model="config.game.grain">Continuous</label>
            </div>
            <div class="col-sm-7 form-control-static">
                digital vs analog; move in chunks vs move via velocity (w/ noop)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Observable</label>

            <div class="col-sm-3 radio form-control-static">
                <label><input type="radio" value="fully" data-ng-model="config.game.observable">Fully</label>
                <label><input type="radio" value="partially" data-ng-model="config.game.observable">Partially</label>
            </div>
            <div class="col-sm-7 form-control-static">
                fog of war; you remember where you were with some probability
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Timing</label>

            <div class="col-sm-3 radio form-control-static">
                <label><input type="radio" value="static" data-ng-model="config.game.timing">Static</label>
                <label><input type="radio" value="dynamic" data-ng-model="config.game.timing">Dynamic</label>
            </div>
            <div class="col-sm-7 form-control-static">
                the world moves without you; or only updates when you tell it to
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Agents</label>

            <div class="col-sm-3 radio form-control-static">
                <label><input type="radio" value="single" data-ng-model="config.game.agents">Single</label>
                <label><input type="radio" value="multi" data-ng-model="config.game.agents">Multi</label>
            </div>
            <div class="col-sm-7 form-control-static">
                are you alone, or do you have to battle/coop with others (is there a wumpus?)
            </div>
        </div>
        <div class="form-group" data-ng-disabled="true">
            <label class="col-sm-2 control-label">A Priori</label>

            <div class="col-sm-3 radio form-control-static">
                <label><input type="radio" disabled checked>Known</label>
                <label><input type="radio" disabled><strike>Unknown</strike></label>
            </div>
            <div class="col-sm-7 form-control-static">
                how much do you know about the world before you start?
            </div>
        </div>
        <div class="form-group" data-ng-disabled="true">
            <label class="col-sm-2 control-label">Statefulness</label>

            <div class="col-sm-3 radio form-control-static">
                <label><input type="radio" disabled><strike>Episodic</strike></label>
                <label><input type="radio" checked disabled>Sequential</label>
            </div>
            <div class="col-sm-7 form-control-static">
                are decision related? sorting marbles vs solving a maze (a maze is sequential by definition)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Room Count</label>

            <div class="col-sm-3">
                <input class="form-control" type="number" min="4" data-ng-model="config.game.roomCount"/>
            </div>
            <div class="col-sm-7 form-control-static">
                how many rooms are in the cave? (defaults to a minimum of 4)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Player</label>

            <div class="col-sm-3 radio form-control-static">
                <label><input type="radio" value="person" data-ng-model="config.game.player">Person</label>
                <label><input type="radio" value="lemon" data-ng-model="config.game.player">Lemon</label>
            </div>
            <div class="col-sm-7 form-control-static">
                who is playing the game? a person or the lm?
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default" data-ng-init="showAdvancedConfig = false">
    <div class="panel-heading" data-ng-click="showAdvancedConfig = !showAdvancedConfig"><h3>
        <span class="glyphicon" data-ng-class="{
                'glyphicon-chevron-down': showAdvancedConfig,
                'glyphicon-chevron-right': !showAdvancedConfig
            }"></span>
        Advanced
    </h3></div>
    <div class="panel-body" data-ng-show="showAdvancedConfig">

        <div class="form-group">
            <label class="col-sm-2 control-label">Agent Radius</label>

            <div class="col-sm-3 form-control-static">
                <input type="range" min="6" step="1" max="{{config.room.radius}}" data-str-to-num data-ng-model="config.agent.radius"/>
            </div>
            <div class="col-sm-1 form-control-static">{{config.agent.radius | number}}</div>
            <div class="col-sm-6 form-control-static">How large is the agent and wumpus?</div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Room Radius</label>

            <div class="col-sm-3 form-control-static">
                <input type="range" min="{{config.agent.radius}}" step="1" max="108" data-str-to-num data-ng-model="config.room.radius"/>
            </div>
            <div class="col-sm-1 form-control-static">{{config.room.radius | number}}</div>
            <div class="col-sm-6 form-control-static">How large are the rooms?</div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Pit Probability</label>

            <div class="col-sm-3 form-control-static">
                <input type="range" min="0" step="0.01" max="1" data-str-to-num data-ng-model="config.misc.pit.probability"/>
            </div>
            <div class="col-sm-1 form-control-static">{{config.misc.pit.probability | number: 2}}</div>
            <div class="col-sm-6 form-control-static">
                Used when generating a new map.
                Once the objects have been placed (exit/wumpus/gold), how likely is it for pits to appear?
            </div>
        </div>
        <div class="form-group" data-ng-disabled="config.game.grain!=='continuous'">
            <label class="col-sm-2 control-label">Branching Factor</label>

            <div class="col-sm-3 form-control-static">
                <input type="range" min="2" step="1" max="12" data-str-to-num data-ng-model="config.grain.continuous.branches"
                       data-ng-disabled="config.game.grain !== 'continuous'"/>
            </div>
            <div class="col-sm-1 form-control-static">{{config.grain.continuous.branches | number}}</div>
            <div class="col-sm-6 form-control-static">
                <strong>Continuous Only:</strong>
                When the game is in continuous mode, how many branching rooms should the game generate.
            </div>
        </div>
        <div class="form-group" data-ng-disabled="config.game.timing!=='dynamic' || config.game.grain!=='discrete'">
            <label class="col-sm-2 control-label">Update / Second</label>

            <div class="col-sm-3 form-control-static">
                <input type="range" min="1" step="1" max="5" data-str-to-num data-ng-model="config.timing.updatesPerSecond.discrete"
                       data-ng-disabled="config.game.timing!=='dynamic' || config.game.grain!=='discrete'"/>
            </div>
            <div class="col-sm-1 form-control-static">{{config.timing.updatesPerSecond.discrete | number}}</div>
            <div class="col-sm-6 form-control-static">
                <strong>Dynamic, Discrete Only:</strong>
                How many times per second should the game update?
            </div>
        </div>
        <div class="form-group" data-ng-disabled="config.game.timing!=='dynamic' || config.game.grain!=='continuous'">
            <label class="col-sm-2 control-label">Update / Second</label>

            <div class="col-sm-3 form-control-static">
                <input type="range" min="5" step="1" max="20" data-str-to-num data-ng-model="config.timing.updatesPerSecond.continuous"
                       data-ng-disabled="config.game.timing!=='dynamic' || config.game.grain!=='continuous'"/>
            </div>
            <div class="col-sm-1 form-control-static">{{config.timing.updatesPerSecond.continuous | number}}</div>
            <div class="col-sm-6 form-control-static">
                <strong>Dynamic, Continuous Only:</strong>
                How many times per second should the game update?
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" data-ng-init="showKeyConfig = false">
    <div class="panel-heading" data-ng-click="showKeyConfig = !showKeyConfig"><h3>
        <span class="glyphicon" data-ng-class="{
                'glyphicon-chevron-down': showKeyConfig,
                'glyphicon-chevron-right': !showKeyConfig
            }"></span>
        Key Config
    </h3></div>
    <div class="panel-body" data-ng-show="showKeyConfig">

        <div class="form-group">
            <label class="col-sm-2 control-label">Left</label>

            <div class="col-sm-1 form-control-static">←</div>
            <div class="col-sm-9 form-control-static">
                <div data-ng-disabled="config.game.grain!=='discrete'">
                    <strong>Discrete:</strong> Turn the agent left.
                </div>
                <div data-ng-disabled="config.game.grain!=='continuous'">
                    <strong>Continuous:</strong> Apply force to increase agent count-clockwise velocity.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Right</label>

            <div class="col-sm-1 form-control-static">→</div>
            <div class="col-sm-9 form-control-static">
                <div data-ng-disabled="config.game.grain!=='discrete'">
                    <strong>Discrete:</strong> Turn the agent right.
                </div>
                <div data-ng-disabled="config.game.grain!=='continuous'">
                    <strong>Continuous:</strong> Apply force to increase agent clockwise velocity.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Forward</label>

            <div class="col-sm-1 form-control-static">↑</div>
            <div class="col-sm-9 form-control-static">
                <div data-ng-disabled="config.game.grain!=='discrete'">
                    <strong>Discrete:</strong> Move the agent forward.
                </div>
                <div data-ng-disabled="config.game.grain!=='continuous'">
                    <strong>Continuous:</strong> Apply force to increase agent velocity.
                </div>
            </div>
        </div>

        <div class="form-group" data-ng-disabled="config.game.grain!=='continuous'">
            <label class="col-sm-2 control-label">Backward</label>

            <div class="col-sm-1 form-control-static">↓</div>
            <div class="col-sm-9 form-control-static">
                <strong>Continuous Only:</strong> Apply force to increase agent velocity.
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Grab</label>

            <div class="col-sm-1 form-control-static">G</div>
            <div class="col-sm-9 form-control-static">
                Grab the gold, if the agent is in the correct room.
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Exit</label>

            <div class="col-sm-1 form-control-static">E</div>
            <div class="col-sm-9 form-control-static">
                Exit the cave. The agent must have the gold and be in the correct room.
            </div>
        </div>

        <div class="form-group" data-ng-disabled="config.game.agents!=='multi'">
            <label class="col-sm-2 control-label">Fire</label>

            <div class="col-sm-1 form-control-static">F</div>
            <div class="col-sm-9 form-control-static">
                <strong>Multi Only:</strong> Fire an arrow. It will fly straight until it either hits a wall or slays the wumpus.
            </div>
        </div>

        <div class="form-group" data-ng-disabled="config.game.timing!=='static'">
            <label class="col-sm-2 control-label">Noop</label>

            <div class="col-sm-1 form-control-static">(Spacebar)</div>
            <div class="col-sm-9 form-control-static">
                <strong>Static Only:</strong> Take no action for a round.
            </div>
        </div>

    </div>
</div>


<div class="form-group">
    <div class="col-sm-12">
        <button class="btn btn-primary" data-ng-click="generateGame()">New Game</button>
    </div>
</div>
</form>