/*
 * Bootstrap overrides
 */

.radio label {
  padding-right: 20px;
}

.progress {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 5px;
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3 {
  margin:0;
}

[data-ng-click], [ng-click], .click {
  cursor: pointer;
}

.label + .label {
  margin-left: 0.3em;
}


/*
 * General UI Tweaks
 */

[disabled]:not('.btn') {
  font-style: italic;
  color: #aaa;
}

table th.min-width,
table td.min-width {
  white-space: nowrap;
  width: 1px;
}


/*
 * Wumpus
 */

[data-wumpus-instance] .game-container {
  position: relative;
  margin-bottom: 20px;
  /*border: solid 1px black;*/
}

[data-wumpus-instance] [data-wumpus-agent],
[data-wumpus-instance] [data-wumpus-room] {
  position: absolute;
  border: solid black 1px;
  font-size: 10px;
}

[data-wumpus-instance] [data-wumpus-agent].wumpus,
[data-wumpus-instance] [data-wumpus-agent].wumpus span {
  border-color: brown;
}

[data-wumpus-instance] [data-wumpus-agent] span {
  position: absolute;
  border-top: solid black 1px;
}


/*
 * subgraph
 */

svg.subgraph {
  border: 1px solid lightgrey;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

/*
 * task list
 */

[page-heading] {
  margin-top: 20px;
}

[ng-form="'taskForm'"] .table.table-condensed >tbody>tr>td,
[ng-form="'taskForm'"] .table.table-condensed >tbody>tr>th {
  border-top: none;
  padding: 2px 5px;
}

[ng-form="'taskForm'"] textarea {
  resize: vertical;
}

.closed {
  font-style: italic;
  text-decoration: line-through;
}

[data-task-graph] h1 {
  font-size: 1.4em;
}

[task-id].form-inline input.form-control,
[data-task-id].form-inline input.form-control {
  width: 4em;
  text-align: center;
}

section.tags_current,
section.status_progress,
section.priority_high {
  margin-left: 2px;
  border-left: 2px solid;
  padding-left: 3px;
}
section.tags_current {
  border-color: mediumseagreen;
}
section.status_progress {
  border-color: cornflowerblue;
}
section.priority_high {
  border-color: goldenrod;
}
section.tags_current header .title,
section.status_progress header .title,
section.priority_high header .title {
  font-weight: lighter;
  padding-left: 4px;
}

[task-quick] .title {
  font-size: 1.5em;
  font-weight: lighter;
  text-decoration: none;
}
[task-quick] a.title:hover {
  border-bottom: 1px solid rgba(35, 82, 124, 0.6);
}
[task-quick] .content {
  padding-left: 32px;
  color: #777;
}

/*
 * tag cloud
 */
[tag-cloud]>svg {
  border: 1px solid lightgrey;
}
