<div page-heading active="next"></div>

<section class="tags_current">
<header><h2 class="title">Current</h2></header>
<div data-ng-repeat="task in current" task-quick="task"></div>
</section>

<section class="status_progress">
<header><h2 class="title">In Progress</h2></header>
<div data-ng-repeat="task in progress" task-quick="task"></div>
</section>

<section class="priority_high">
<header><h2 class="title">High Priority</h2></header>
<div data-ng-repeat="task in high" task-quick="task"></div>
</section>