<div page-heading active="next"></div>

<section class="tags_current">
<header><h1 class="title">Current</h1></header>
<div data-ng-repeat="task in current" task-quick="task"></div>
</section>

<section class="status_progress">
<header><h1 class="title">In Progress</h1></header>
<div data-ng-repeat="task in progress" task-quick="task"></div>
</section>

<section class="priority_high">
<header><h1 class="title">High Priority</h1></header>
<div data-ng-repeat="task in high" task-quick="task"></div>
</section>