<div page-heading active="enums"></div>

<h1>{{label}}</h1>

<table class="table">
    <thead><tr>
        <th>Icon</th>
        <th class="min-width">Name</th>
        <th>Order</th>
        <th class="min-width" ng-if="categories">Category</th>
        <th>Description</th>
        <th>Actions</th>
    </tr></thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td><i ng-class="item.icon"></i></td>
            <td class="min-width">{{item.name}}</td>
            <td>{{item.order}}</td>
            <td class="min-width" ng-if="categories">{{categories[item.category].display}}</td>
            <td>{{item.description}}</td>
            <td>
                <i class="fa fa-pencil" title="Edit" ng-click="edit(item)"></i>
            </td>
        </tr>
    </tbody>
</table>

<div class="panel" ng-class="isEdit()?'panel-info':'panel-default'">
    <div class="panel-heading"><h3 class="panel-title">{{isEdit()?'Edit':'Create'}} {{label}}</h3></div>
    <div class="panel-body form-horizontal" ng-form="'itemForm'">
        <div class="form-group">
            <label class="col-sm-4 control-label" for="icon">Icon</label>
            <div class="col-sm-7">
                <input class="form-control" id="icon" name="icon" data-ng-model="formData.icon" />
            </div>
            <div class="col-sm-1 form-control-static">
                <i ng-class="formData.icon"></i>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="itemName">Name</label>
            <div class="col-sm-8">
                <input class="form-control" id="itemName" name="itemName" data-ng-model="formData.name" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="order">Order</label>
            <div class="col-sm-8">
                <input class="form-control" type="number" id="order" name="order" data-ng-model="formData.order" />
            </div>
        </div>

        <div class="form-group" ng-if="categories">
            <label class="col-sm-4 control-label" for="category">Category</label>
            <div class="col-sm-8">
                <select class="form-control" id="category" name="category" data-ng-model="formData.category"
                        ng-options="id as item.display for (id, item) in categories">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="description">Description</label>
            <div class="col-sm-8">
                <textarea class="form-control" id="description" name="description" data-ng-model="formData.description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button data-ng-hide="isEdit()" class="btn btn-primary" ng-click="create()">Create</button>
                <button data-ng-show="isEdit()" class="btn btn-primary" ng-click="save()">Save</button>
                <button data-ng-show="isEdit()" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
            </div>
        </div>
    </div>
</div>