<div page-heading active="query"></div>

<div class="form-horizontal well">
    <div class="row">
    <div class="col-md-6"> <!-- start of left part of form -->

        <div class="form-group">
            <label class="col-sm-4 control-label" for="status">Status</label>
            <div class="col-sm-8">
                <select class="form-control" id="status" data-ng-model="formData.status"
                        ng-options="item.id as item.name for item in statuses">
                    <option></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="priority">Priority</label>
            <div class="col-sm-8">
                <select class="form-control" id="priority" data-ng-model="formData.priority"
                        ng-options="item.id as item.name for item in priorities">
                    <option></option>
                </select>
            </div>
        </div>

    </div> <!-- end of left part of form -->
    <div class="col-md-6"> <!-- start of right part of form -->

        <div class="form-group">
            <label class="col-sm-4 control-label" for="type">Type</label>
            <div class="col-sm-8">
                <select class="form-control" id="type" data-ng-model="formData.type"
                        ng-options="item.id as item.name for item in types">
                    <option></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox form-control-static">
                    <label><input type="checkbox" data-ng-model="formData.done" /> Exclude Finished Tasks</label>
                </div>
            </div>
        </div>

        <div class="form-group" align="right">
            <div class="col-sm-12">
                <button class="btn btn-primary" ng-click="search()" data-ng-disabled="searching"><i class="fa fa-search"></i> Search</button>
            </div>
        </div>

    </div> <!-- end of right part of form -->
    </div>
</div>

<div task-list data-tasks="tasks"></div>
