<div class="form-horizontal" ng-form="'taskForm'">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="taskName">Name</label>
        <div class="col-sm-10">
            <input class="form-control" id="taskName" name="taskName" data-ng-model="formData.name" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="parent">Parent</label>
        <div class="col-sm-10">
            <div id="parent" name="parent" data-ng-model="formData.parent" data-task-id></div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="type">Type</label>
        <div class="col-sm-10">
            <select class="form-control" id="type" name="type" data-ng-model="formData.type"
                    ng-options="item.id as item.name for item in types"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="status">Status</label>
        <div class="col-sm-10">
            <select class="form-control" id="status" name="status" data-ng-model="formData.status"
                    ng-options="item.id as item.name for item in statuses"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="priority">Priority</label>
        <div class="col-sm-10">
            <select class="form-control" id="priority" name="priority" data-ng-model="formData.priority"
                    ng-options="item.id as item.name for item in priorities"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="description">Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="description" name="description" rows="4" data-ng-model="formData.description"></textarea>
        </div>
    </div>

    <div class="form-group" data-ng-show="isResolve()">
        <label class="col-sm-2 control-label" for="resolution">Resolution</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="resolution" name="resolution" rows="4" data-ng-model="formData.resolution"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="tags">Tags</label>
        <div class="col-sm-10">
            <div data-tags id="tags" data-ng-model="formData.tags"></div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">External</label>
        <div class="col-sm-10">
            <table class="table table-condensed">
                <thead><tr>
                    <th style="white-space: nowrap;"><i class="fa fa-plus" ng-click="addExternal()"></i>&nbsp;</th>
                    <th style="width: 99%;"></th>
                </tr></thead>
                <tbody>
                <tr data-ng-repeat="ignore in formData.external track by $index">
                    <th><i class="fa fa-remove form-control-static" ng-click="removeExternal($index)">&nbsp;</i></th>
                    <td>
                        <div class="input-group">
                            <a class="input-group-addon" href="{{formData.external[$index]}}" target="_blank"><i class="fa fa-external-link"></i></a>
                            <input class="form-control" data-ng-model="formData.external[$index]" />
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Links</label>
        <div class="col-sm-10"><div class="row">
            <div class="col-sm-6">
                <table class="table table-condensed">
                    <thead><tr>
                        <th style="white-space: nowrap;"><i class="fa fa-plus" ng-click="addBlockedBy()"></i>&nbsp;</th>
                        <th style="width: 99%;">Blocked By</th>
                    </tr></thead>
                    <tbody>
                    <tr data-ng-repeat="ignore in formData.blockedBy track by $index">
                        <th><i class="fa fa-remove form-control-static" ng-click="removeBlockedBy($index)">&nbsp;</i></th>
                        <td><div data-ng-model="formData.blockedBy[$index]" data-task-id></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                <table class="table table-condensed">
                    <thead><tr>
                        <th style="white-space: nowrap;"><i class="fa fa-plus" ng-click="addBlocking()"></i>&nbsp;</th>
                        <th style="width: 99%;">Blocking</th>
                    </tr></thead>
                    <tbody>
                    <tr data-ng-repeat="ignore in formData.blocking track by $index">
                        <th><i class="fa fa-remove form-control-static" ng-click="removeBlocking($index)">&nbsp;</i></th>
                        <td><div data-ng-model="formData.blocking[$index]" data-task-id></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                <table class="table table-condensed">
                    <thead><tr>
                        <th style="white-space: nowrap;"><i class="fa fa-plus" ng-click="addRelated()"></i>&nbsp;</th>
                        <th style="width: 99%;">Related</th>
                    </tr></thead>
                    <tbody>
                    <tr data-ng-repeat="ignore in formData.related track by $index">
                        <th><i class="fa fa-remove form-control-static" ng-click="removeRelated($index)">&nbsp;</i></th>
                        <td><div data-ng-model="formData.related[$index]" data-task-id></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                <table class="table table-condensed">
                    <thead><tr><th>Children</th></tr></thead>
                    <tbody>
                    <tr ng-repeat="id in formData.children"><td><div data-task-id data-ng-model="id" data-readonly="true"></div></td></tr>
                    </tbody>
                </table>
            </div>
        </div></div>
    </div>
</div>