<table class="table table-condensed">
    <thead><tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr></thead>
    <tbody>
        <tr ng-repeat-start="task in tasks">
            <td>
                <i ng-if="task.children.length" class="fa" ng-class="viewData[task.id].expanded?'fa-minus-square-o':'fa-plus-square-o'"
                        ng-click="expand(task)"></i>&nbsp;
            </td>
            <td>{{task.id}}</td>
            <td>
                <i class="fa fa-fw" ng-repeat="ignore in range(viewData[task.id].level) track by $index">
                </i><i ng-class="types[task.type].icon" title="{{types[task.type].name}}">
                </i><i ng-class="statuses[task.status].icon" title="{{statuses[task.status].name}}">
                </i>
                {{task.name}}
            </td>
            <td><a class="fa fa-pencil" href="#/todo/tasks/{{task.id}}" title="Edit"></a>&nbsp;</td>
        </tr>
        <tr ng-if="viewData[task.id].expanded && task.description"><td></td><td colspan="5">{{task.description}}</td></tr>
        <tr ng-repeat-end=""></tr>
    </tbody>
</table>