<table class="table table-condensed table-striped tasklist">
    <thead><tr>
        <th class="min-width" data-ng-if="viewData"></th>
        <th style="width: 10%;">ID</th>
        <th style="width: 90%;">Name</th>
        <th class="min-width"></th>
    </tr></thead>
    <tbody><tr ng-repeat="task in tasks">
        <td class="min-width" data-ng-if="viewData">
            <i class="fa fa-fw" ng-repeat="ignore in range(viewData[task.id].level) track by $index">
            </i><i ng-if="task.children.length" class="fa fa-fw" ng-class="viewData[task.id].expanded?'fa-minus-square-o':'fa-plus-square-o'"
                    ng-click="expand(task)"></i>&nbsp;
        </td>
        <td style="width: 10%;">{{task.id}}</td>
        <td style="width: 90%;">
            <i class="fa fa-fw" ng-repeat="ignore in range(viewData[task.id].level) track by $index">
            </i><i ng-class="types[task.type].icon" title="{{types[task.type].name}}"></i>&nbsp;
            <span ng-bind="task.name" ng-class="statuses[task.status].categoryClass"></span>
            <sup data-ng-if="task.description" title="{{task.description}}"><i>[desc]</i></sup>
            <sup data-ng-if="task.resolution" title="{{task.resolution}}"><i>[res]</i></sup>
            <sup data-ng-if="task.tags.length" title="{{task.tags.join(', ')}}"><i>[tags]</i></sup>
        </td>
        <td class="min-width">
            <i ng-class="priorities[task.priority].icon" title="{{priorities[task.priority].name}}">
            </i><i ng-class="statuses[task.status].icon" title="{{statuses[task.status].name}}"></i>
            <a class="btn btn-sm btn-default" href="#/todo/tasks/{{task.id}}" title="Edit"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-sm btn-default" href="#/todo/tasks/create?parent={{task.id}}" title="Create Task"><i class="fa fa-plus"></i></a>
        </td>
    </tr></tbody>
</table>