<table class="table table-condensed">
    <thead ng-if="!nestedId"><tr>
        <th></th>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Status</th>
        <th></th>
    </tr></thead>
    <tbody ng-repeat="task in tasks">
        <tr>
            <td>
                <i ng-if="task.children.length" class="fa" ng-class="expanded[task.id]?'fa-minus-square-o':'fa-plus-square-o'"
                        ng-click="expanded[task.id] = !expanded[task.id]"></i>&nbsp;
            </td>
            <td>{{task.id}}</td>
            <td><i ng-class="types[task.type].icon"></i> {{types[task.type].name}}</td>
            <td>{{task.name}}</td>
            <td><i ng-class="statuses[task.status].icon"></i> {{statuses[task.status].name}}</td>
            <td><a class="fa fa-pencil" href="#/todo/tasks/{{task.id}}" title="Edit"></a>&nbsp;</td>
        </tr>
        <tr ng-if="expanded[task.id]"><td></td><td colspan="5">{{task.description}}</td></tr>
        <tr ng-if="expanded[task.id]"><td></td><td colspan="5" ng-init="nestedId = task.id">
            <div ng-include="'partials/todo/taskList.html'" ng-controller="lime.client.todo.taskList"></div>
        </td></tr>
    </tbody>
</table>