<div class="form-horizontal" ng-form="'taskForm'">
    <div class="form-group">
        <label class="col-sm-3 control-label" for="taskName">Name</label>
        <div class="col-sm-9">
            <input class="form-control" id="taskName" name="taskName" data-ng-model="formData.name" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="parent">Parent</label>
        <div class="col-sm-9">
            <div id="parent" name="parent" data-ng-model="formData.parent" data-task-id></div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="type">Type</label>
        <div class="col-sm-9">
            <select class="form-control" id="type" name="type" data-ng-model="formData.type"
                    ng-options="item.id as item.name for item in types"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="status">Status</label>
        <div class="col-sm-9">
            <select class="form-control" id="status" name="status" data-ng-model="formData.status"
                    ng-options="item.id as item.name for item in statuses"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="description">Description</label>
        <div class="col-sm-9">
            <textarea class="form-control" id="description" name="description" rows="4" data-ng-model="formData.description"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Dependencies</label>
        <div class="col-sm-4">
            <table class="table table-condensed">
                <thead><tr>
                    <th style="white-space: nowrap;"><i class="fa fa-plus" ng-click="addBlockedBy()"></i>&nbsp;</th>
                    <th style="width: 99%;">Blocked By</th>
                </tr></thead>
                <tbody>
                    <tr data-ng-repeat="ignore in formData.blockedBy track by $index">
                        <td><i class="fa fa-remove form-control-static" ng-click="removeBlockedBy($index)">&nbsp;</i></td>
                        <td><div data-ng-model="formData.blockedBy[$index]" data-task-id></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <table class="table table-condensed">
                <thead><tr>
                    <th style="white-space: nowrap;"><i class="fa fa-plus" ng-click="addBlocking()"></i>&nbsp;</th>
                    <th style="width: 99%;">Blocking</th>
                </tr></thead>
                <tbody>
                <tr data-ng-repeat="ignore in formData.blocking track by $index">
                    <td><i class="fa fa-remove form-control-static" ng-click="removeBlocking($index)">&nbsp;</i></td>
                    <td><div data-ng-model="formData.blocking[$index]" data-task-id></div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>