<h1>Wumpus</h1>

<div data-ng-if="state==='instance'" data-wumpus-instance></div>

<!-- subgraph list (knowledge graph) -->
<table class="table">
    <tr>
        <td colspan="2">
            <span title="Add" data-ng-click="getContext()" class="text-info fa fa-plus"></span>
            <span title="Diff" data-ng-click="diffNewContext()" class="text-info fa fa-exchange"></span>
        </td>
    </tr>
    <tr data-ng-repeat="sg in contexts">
        <td>
            <span title="Remove" data-ng-click="removeContext(sg)" class="text-danger fa fa-times"></span>
            <br>
            <button class="btn btn-xs"
                    data-ng-disabled="sg.diff"
                    data-ng-click="selectSubgraph(sg)"
                    data-ng-class="{'btn-default':!sg.selected, 'btn-primary':sg.selected}">
                <i class="fa" data-ng-class="selectSubgraphIcon(sg)"></i>
                <span ng-bind="selectSubgraphText(sg)"></span>
            </button>
        </td>
        <td data-render-subgraph="sg"></td>
    </tr>
</table>
