<div>
    <a data-ng-click="generateGame()">New Game</a> |
    <a data-ng-click="gotoConfig()">Update Config</a>

    <div>Points: {{game.points}}</div>
    <div data-wumpus-socket data-ng-if="config.game.player==='lemon'"></div>

    <div class="alert end-message" data-ng-if="game.cave.agent.win || !game.cave.agent.alive"
         data-ng-class="{'alert-success': game.cave.agent.win, 'alert-danger': !game.cave.agent.win}"></div>
</div>

<div class="game-container">
    <!-- room needs to be ng-show, otherwise the watches don't work -->
    <span data-ng-repeat="room in game.cave.rooms" data-wumpus-room="room" data-ng-show="room.visible"></span>
    <!-- wumpus needs to be ng-if, otherwise it runs calculations on something that's undefined -->
    <span class="wumpus" data-wumpus-agent="game.cave.wumpus" data-ng-if="showWumpus()"></span>
    <span data-wumpus-agent="game.cave.agent" data-ng-if="game.cave.agent.alive && !game.cave.agent.win"></span>
</div>

<!-- needs to be ng-show (not ng-if) so we can find it when the page loads -->
<div class="form-horizontal" data-ng-show="config.game.grain==='continuous'">
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">Forward Velocity</label>
        </div>
        <div class="col-md-8">
            <div class="progress">
                <div class="forward-cur progress-bar progress-bar-warning progress-bar-striped"></div>
                <div class="forward-max progress-bar progress-bar-info"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">Turn Velocity</label>
        </div>
        <div class="col-md-8">
            <div class="progress">
                <div class="turn-min progress-bar progress-bar-info"></div>
                <div class="turn-cur progress-bar progress-bar-warning progress-bar-striped"></div>
                <div class="turn-max progress-bar progress-bar-info"></div>
            </div>
        </div>
    </div>
</div>
