<div class="input-group">
    <span class="input-group-addon" title="commands: 'a[ctuator] <name>', 'g[oal] <name>', 'context' - see socketDirective and server/index.js for more details.">
        <i class="fa fa-terminal"></i>
    </span>
    <input class="form-control" type="text" data-ng-model="message" data-ng-keyup="keyup($event)" placeholder="try: goal play" />
    <span class="input-group-btn" title="submit command">
        <button class="btn btn-default" data-ng-click="stock.play()">
            <i class="fa fa-thumbs-o-up"></i>&nbsp;
        </button>
    </span>
</div>
<textarea class="form-control" data-ng-model="serverMessage" readonly></textarea>
<i data-ng-repeat="obj in the_plan" class="form-control-static fa fa-fw" data-ng-class="obj.icon" title="{{obj.title}}"></i>