<div page-heading active="{{nested.taskObject.id?'':'create'}}"></div>

<h1 data-ng-hide="nested.taskObject.id">Create Task</h1>
<h1 data-ng-show="nested.taskObject.id">Task <span ng-bind="nested.taskObject.id"></span></h1>

<div task-directive data-ng-model="nested.taskObject"></div>

<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <button data-ng-hide="nested.taskObject.id" class="btn btn-primary" data-ng-click="create()">Create</button>
        <button data-ng-show="nested.taskObject.id" class="btn btn-primary" data-ng-click="update()">Save</button>
    </div>
</div>
