/*
 * Bootstrap overrides
 */

.radio label {
  padding-right: 20px;
}

.progress {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 5px;
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3 {
  margin:0;
}

[data-ng-click], [ng-click] {
  cursor: pointer;
}


/*
 * General UI Tweaks
 */

[disabled] {
  font-style: italic;
  color: #aaa;
}


/*
 * Wumpus
 */

[data-wumpus-instance] .game-container {
  position: relative;
  margin-bottom: 20px;
  /*border: solid 1px black;*/
}

[data-wumpus-instance] [data-wumpus-agent],
[data-wumpus-instance] [data-wumpus-room] {
  position: absolute;
  border: solid black 1px;
  font-size: 10px;
}

[data-wumpus-instance] [data-wumpus-agent].wumpus,
[data-wumpus-instance] [data-wumpus-agent].wumpus span {
  border-color: brown;
}

[data-wumpus-instance] [data-wumpus-agent] span {
  position: absolute;
  border-top: solid black 1px;
}


/*
 * subgraph
 */

svg.subgraph {
  border: 1px solid lightgrey;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
